* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  color: #FFFFFF;
}

p {
  line-height: 130%;
  text-align: center;
}

.header {
  background-color: #222222;
  padding: 40px;
}

.page-content {
  padding: 40px;
}

.footer {
  background-color: #222222;
  padding: 40px;
  color: #FFFFFF;
}


h1 {
  color: red;
font-size: 50px;
text-align: center;
}

p {
  font-size: 30px;

}

.soundcloud { 
  width: 40%;
  float: left;
  padding-left: 30px;
  font-size: 13px;
  padding-bottom: 30px;
  font-family: arial;
  font-weight: bold;
}

.soundcloud img {
  width: 450px;
}

.youtube {
  width: 40%;
  float: left;
  font-size: 13px;
  padding-bottom: 30px;
  font-family: arial;
  font-weight: bold;
}

.youtube img {
  width: 450px;
}

.clear-float {
  clear: both;
}

.studio {
  text-align: left;
  font-size: 13px;
  font-family: arial;
  font-weight: bold;
}