<div id="cont" >

<table width="100%">
	<tr>
		<td>

	<table id="thumbtab" cellpadding={"20">
		<tr>
			<td id="c1"><a href="#"><img src="images/slideshow/asia.jpeg" id="cell1" class="tabimg"></a></td>
			<td id="c2"><a href="#"><img src="images/slideshow/chickenhug.jpg" id="cell2" class="tabimg"></a></td>
			<td id="c3"><a href="#"><img src="images/slideshow/connord.jpg" id="cell3" class="tabimg"></a></td>
			<td id="c4"><a href="#"><img src="images/slideshow/CullumNP.jpg" id="cell4" class="tabimg"></a></td>
		</tr>

		<tr>
			<td id="c5"><a href="#"><img src="images/slideshow/jacinda.jpg" id="cell5" class="tabimg"></a></td>
			<td id="c6"><a href="#"><img src="images/slideshow/Josh-romone-holding-connor.jpg" id="cell6" class="tabimg"></a></td>
			<td id="c7"><a href="#"><img src="images/slideshow/LairdM.jpg" id="cell7" class="tabimg"></a></td>
			<td id="c8"><a href="#"><img src="images/slideshow/matthew.jpg" id="cell8" class="tabimg"></a></td>
		</tr>

		<tr>
			<td id="c9"><a href="#"><img src="images/slideshow/merrick.jpg" id="cell9" class="tabimg"></a></td>
			<td id="c10"><a href="#"><img src="images/slideshow/Spaceman-Raniera.m.jpg" id="cell10" class="tabimg"></a></td>
			<td id="c11"><a href="#"><img src="images/slideshow/tanya.jpg" id="cell11" class="tabimg"></a></td>
			<td id="c12"><a href="#"><img src="images/slideshow/asia.jpeg" id="cell12" class="tabimg"></a></td>
		</tr>
		<tr>
			<td class="titrow"></td>
			<td class="titrow" style="text-align: right;"><h4>Click image</h4></td>
			<td class="titrow" style="text-align: left;"><h4>to enlarge</h4></td>
			<td class="titrow"></td>
		</tr>




	</table>


</td>
<td id="slidecell">
<div id="slider" >
	<ul>
		<li><img src="images/slideshow/asia.jpeg" ></li>
		<li><img src="images/slideshow/chickenhug.jpg" ></li>
		<li><img src="images/slideshow/connord.jpg" ></li>
		<li><img src="images/slideshow/CullumNP.jpg" ></li>
		<li><img src="images/slideshow/jacinda.jpg" ></li>
		<li><img src="images/slideshow/Josh-romone-holding-connor.jpg" ></li>
		<li><img src="images/slideshow/LairdM.jpg" ></li>
		<li><img src="images/slideshow/matthew.jpg" ></li>
		<li><img src="images/slideshow/merrick.jpg" ></li>
		<li><img src="images/slideshow/Spaceman-Raniera.m.jpg" ></li>
		<li><img src="images/slideshow/tanya.jpg" ></li>
	</ul>
</div>
</td>
</tr>
</table>
</div>