<div id="slider" >
	<ul>
		<li><img src="images/slideshow/asia.jpeg" ></li>
		<li><img src="images/slideshow/chickenhug.jpg" ></li>
		<li><img src="images/slideshow/connord.jpg" ></li>
		<li><img src="images/slideshow/CullumNP.jpg" ></li>
		<li><img src="images/slideshow/jacinda.jpg" ></li>
		<li><img src="images/slideshow/Josh-romone-holding-connor.jpg" ></li>
		<li><img src="images/slideshow/LairdM.jpg" ></li>
		<li><img src="images/slideshow/matthew.jpg" ></li>
		<li><img src="images/slideshow/merrick.jpg" ></li>
		<li><img src="images/slideshow/Spaceman-Raniera.m.jpg" ></li>
		<li><img src="images/slideshow/tanya.jpg" ></li>
	</ul>
</div>
